<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/css/fizbuz.css" rel="stylesheet" type="text/css">
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/jquery-1.7.2.min.js"> </script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<!--<script type="text/javascript" src="/js/modernizr-2.5.3.js"></script>--!>
		<script type="text/javascript" src="/js/modernizr.custom.41505.js"></script>
		<script type="text/javascript" src="/js/fizbuz.js"></script>
	</head> 

	<body> 
		<div class="container"> 
		<h1 class="title offset1"> FizBuz </h1>
		<%= yield %>
		</div>
	</body> 
</html>
